<header>
    <h1>Bienvenue sur CRUDcroustillant</h1>
    <nav>
        <ul style="display: flex; list-style-type: none; padding: 0; margin: 0;">
            <li style="margin-right: 15px;"><a href="/">Accueil</a></li>
            <li style="margin-right: 15px;"><a href="/burgers">Nos Burgers</a></li>
            <li style="margin-right: 15px;"><a href="/pain">Nos Pains</a></li>
            <li style="margin-right: 15px;"><a href="/sauce">Nos Sauces</a></li>
            <li style="margin-right: 15px;"><a href="/oignon">Nos Oignons</a></li>
            <li style="margin-right: 15px;"><a href="/images">Galerie</a></li>
            <li style="margin-right: 15px;"><a href="/burger/new">Création de Burger</a></li>
            <li style="margin-right: 15px;"><a href="/oignon/new">Création d'Oignon</a></li>
            <li style="margin-right: 15px;"><a href="/pain/new">Création de Pain</a></li>
               <li style="margin-right: 15px;"><a href="/sauce/new">Création de la Sauce</a></li>
        </ul>
    </nav>
</header>
