<header>
    <h1>Bienvenue sur CRUDcroustillant</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/burgers">Nos Burgers</a></li>
            <li><a href="/pain">Nos Pains</a></li>
            <li><a href="/sauce">Nos Sauces</a></li>
            <li><a href="/oignon">Nos Oignons</a></li>
            <li><a href="/images">Galerie</a></li>
        </ul>
    </nav>
</header>