<header>
    <h1>Bienvenue sur CRUDcroustillant</h1>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="/burgers">Nos Burgers</a></li>
        </ul>
    </nav>
</header>