{% extends 'base.html.twig' %}

{% block title %}Liste des burgers{% endblock %}

{% block header %}
{% include '/header/_header.html.twig' %}
{% endblock %}
{% block content %}
<h1> Burger : </h1>
<br>
<ul>
    {% for burger in burgers %}
        <li>
     {{ burger.id }} - {{ burger.name }}

        </li>
    {% endfor %}
</ul>

{% endblock %}
{% block footer %}
{% include '/footer/_footer.html.twig' %}
{% endblock %}



