{% extends 'base.html.twig' %}

{% block title %}Hello ImageController!{% endblock %}

{% block header %}
{% include '/header/_header.html.twig' %}
{% endblock %}
{% block content %}
<h3>Images :</h3>
<img src="{{ asset('img/burger1.jpeg') }}" alt="Image de burger" width="250" />
<ul>
    {% for image in images %}
        <li>
            <img src="{{ asset('img/' ~ image.name) }}" alt="Image de {{ image.name }}">
        </li>
    {% endfor %}
</ul>
{% endblock %}
{% block footer %}
{% include '/footer/_footer.html.twig' %}
{% endblock %}