{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Ajout Sauce{% endblock %}
 {% block header %}
{% include '/header/_header.html.twig' %}
{% endblock %}
{% block content %}
<h1> Creation de la Sauce</h1>
    {{ form(form) }}
{% endblock %}
{% block footer %}
{% include '/footer/_footer.html.twig' %}
{% endblock %}