{% extends 'base.html.twig' %}

{% block title %}Hello SauceController!{% endblock %}
{% block header %}
{% include '/header/_header.html.twig' %}
{% endblock %}
{% block content %}

<h1>Liste des Sauces</h1>
    <ul>
        {% for sauce in sauces%}
            <li>{{ sauce.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}
{% block footer %}
{% include '/footer/_footer.html.twig' %}
{% endblock %}