{% extends 'base.html.twig' %}

{% block title %}Hello OignonController!{% endblock %}
{% block header %}
{% include '/header/_header.html.twig' %}
{% endblock %}
{% block content %}

<h1>Liste des Oignons</h1>
    <ul>
        {% for oignon in oignons%}
            <li>{{ oignon.name }}</li>
        {% endfor %}
    </ul>

{% endblock %}
{% block footer %}
{% include '/footer/_footer.html.twig' %}
{% endblock %}